<h1 style="text-align: center;">**Sign In**</h1>

<form action="/users/create-session" method="POST" style="text-align: center;"> 
    <input type="email" name="email" placeholder="Email"  required>
    <input type="password" name="password" placeholder="Password"  required>
    <input type="submit" value="Sign In">

</form>